{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
<div class="cont">
    <div class="header">
        <h1 class="title-center-h1">Administration</h1>
        <div class="header-btn">
            <a href="{{ url('add_album') }}" class="btn btn-primary">Ajouter une collection</a>
        </div>
    </div>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="{{ url('admin_user') }}">Les utilisateurs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="{{ url('admin_collection') }}">Les collections</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" href="{{ url('admin_item') }}">Les items</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="{{ url('admin_comment') }}">Les avis</a>
        </li>
    </ul>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Collection</th>
                <th>Nombre d'ajout</th>
                <th>Action</th>
            </tr>
        </thead>
        {% if items %}
            <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.album.name }}</td>
                    <td>{{ item.added }}</td>
                    <td class="table-action">
                        <a href="{{ path('show_item', {'id': item.id}) }}" title="Voir un item">
                            <i class="fas fa-eye"></i>
                        </a>
                        <a href="{{ path('edit_item', {'id': item.id}) }}" title="Modifer un item">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a href="{{ path('delete_item', {'id': item.id}) }}" title="Supprimer un item">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        {% else %}
        </table>
        <h4 class="admin-no-result">Aucun résultat</h4>
        {% endif %}
    </table>
</div>
{% endblock %}