{% extends 'base.html.twig' %}

{% block title %}Ajouter un avis à {{ item.name }}{% endblock %}

{% block body %}
<div class="cont">
    <h1 class="title-h1 title-center">Ajouter un avis à {{ item.name }}</h1>
    <div class="form">
        {{ form_start(add_rating_form) }}
            <div class="form-group">
                {{ form_row(add_rating_form.rate) }}
            </div>
            <div class="form-submit">
                {{ form_row(add_rating_form.submit) }}
            </div>
        {{ form_end(add_rating_form) }}
    </div>
</div>
{% endblock %}